@charset "utf-8";

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

.boxes{
	width:600px;
	background-color: yellow;
	margin:0 auto;
}

.box1{
	width:150px;
	height:400px;
	background-color: orange;
	float:left;
}

.box2{
	width:250px;
	height:400px;
	background-color: red;
	float:right;
}