@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content:"";
    display:block;
    clear:both;
}
main{
	width: 960px;
	margin: 50px auto;
}
.lists{
	margin-bottom: 50px;

}
.list{
	list-style: none;
	padding: 20px;
}
.list:nth-child(odd){
	background-color: #eee;
}

.color{
	height:200px;
	width: 30%;
	margin-bottom: 40px;
	margin-right: 5%;
	float:left;
	background-color: #ffd700;
}
.color:first-child,.color:last-child,.color:nth-child(5){
    background-color: #ff8c00;
}
.color:nth-child(3),.color:nth-child(6),.color:nth-child(9){
	margin-right: 0;
}
.color:nth-child(7),.color:nth-child(8),.color:nth-child(9){
	margin-bottom: 0;
}

